certifi==2026.1.4
charset-normalizer==3.4.4
idna==3.11
joblib==1.5.3
kagglehub==1.0.0
kagglesdk==0.1.15
numpy==2.4.2
packaging==26.0
protobuf==6.33.5
PyYAML==6.0.3
requests==2.32.5
scikit-learn==1.8.0
scipy==1.17.1
threadpoolctl==3.6.0
tqdm==4.67.3
urllib3==2.6.3
