# App
PROJECT_NAME = "project-name"

# PostgreSQL
POSTGRES_SERVER = "localhost"
POSTGRES_USER = "postgresql-user"
POSTGRES_PASSWORD = "postgresql-password"
POSTGRES_PORT = 5432
POSTGRES_DB = "postgresql-db"